

/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
/*===================MENU==========================*/



#menu a, button{
    font-size: 18px !important;
    font-weight: 600;

   
}

#menu a{
    color:#3f3f3f;
    
}



/*somos*/

    /*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

    @media (max-width: 576px) {
        #servicios-fila-2 {
            width:100% !important;
        }
        #servicios-fila-1 {
            width:100% !important;
        }
        #servicios-fila-3 {
            width:100% !important;
        }
        #servicios-fila-4 {
            width:100% !important;
        }
      
    
        .icono-wrap{
            flex-wrap:wrap !important;
            justify-content: center !important;
            text-align: center;
        }
    }


    /*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}
/*=========================foter================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}




